.board-box {
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.board-box-ariticle {
  display: flex;
  gap: 5px;
}

.board-header-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.search-bar {

  max-width: 200px;
  width: 100%; /* 원하는 고정 길이 */
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search-box {
  display: flex;
}

.search-button {
  padding: 10px 10px;
  font-size: 16px;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-button:hover {
  background-color: #0056b3;
}

.search-button:active {
  background-color: #004085;
}

.search-button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.25);
}

.board-header,
.board-row {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.board-header {
  background-color: #f9f9f9;
  font-weight: bold;
}

.board-header-item,
.board-item {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title-header {
  flex: 20;
  text-align: left;
}

.author-header,
.date-header,
.views-header {
  flex: 4;
}

.title {
  display: flex;
  justify-self: start;
  flex: 20;
}

.article-count {
  padding: 10px;
}